<div class=container-fluid>
<%= image_tag @artist.photo.image, class: "artist-img" %>
<h1 class="align-left"><%= @artist.name %></h1>

<p class="align-left"><%= @artist.bio %></p>
</div>

<div class="songs">
<ul>
<% @artist.songs.each do |song| %>
<li><i class="fa fa-trash" aria-hidden="true"></i>     <%= song.name %></li>
<% end %>
</ul>
</div>
