<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to artists_path do %>
      <a class="navbar-brand">CODAISSEURIFY</a>
      <% end %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Artists", root_path %></li>
      <li><%= link_to "Songs", songs_path %></li>
    </ul>
  </div>
</nav>
