<%= form_for [@artist, @artist.songs.new], :class => "new_song" do |f| %>

<div>

  <%= f.text_field :name, placeholder: "Type Here", :class => "text_field" %>
</div>
<div>
  <%= f.submit "Add Song", :class => "submit" %>

</div>
<% end %>
