@import "bootstrap-sprockets";
@import "bootstrap";
@import "artists.scss";
@import "songs.scss";

body {
  background: url(https://www.clipartsgram.com/image/1300662385-black-and-white-wallpaper-music-12.jpg);
  background-size: cover;
}

.container-fluid {
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

nav li {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
}

.whitebox {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.8);
  margin: 10px;
}

li {
  font-family: 'Jaldi', sans-serif;
  font-size: 20px;
}

.fa-trash {
  color: black;
}

.fa-trash:hover{
  color: red;
}

.align-left {
  text-align: left;
}

p {
  font-family: 'Jaldi', sans-serif;
}

.top-right-btn {
  position: absolute;
  right: 100px;
  top: 90px;
  background-color: black;
}

.top-right-btn:hover {
  background-color: red;
  border: 1px solid red;
}

.top-btn {
  position: absolute;
  right: 200px;
  top: 90px;
  background-color: black;
}

.top-btn:hover {
  background-color: red;
  border: 1px solid red;
}

input.text_field {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  width: 600px;
  left: 300px;
  border: none;
  border-bottom: 2px solid red;
  background-color: rgba(0,0,0,0.0);
}

input.text_field:focus {
  outline: none;
}

input.submit {
  margin: 5px;
  display: inline-block;
  position: relative;
  left: 550px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color:white;
}

input.submit:hover {
  background-color: red;
  border: 1px solid red;
}
